@model MvcMusicStore.Model.Album
@{
    ViewBag.Title = "Delete";
}

<h2>Are Sure To Delete?</h2>

<dl class="dl-horizontal">
    <dt>Genre</dt>
    <dd>@Html.DisplayFor(m => m.Genre.Name)</dd>

    <dt>@Html.DisplayNameFor(m => m.Artist)</dt>
    <dd>@Html.DisplayFor(m => m.Artist.Name)</dd>



    <dt>@Html.DisplayNameFor(m => m.Title)</dt>
    <dd>@Html.DisplayFor(m => m.Title)</dd>
</dl>



@using (Html.BeginForm("Delete", "StoreManager", FormMethod.Post))
{
    @Html.HiddenFor(m => m.AlbumId)
    <input type="submit" value="Submit" />
}
